body {
    background-color: black;
    color: white;
}
.callout.primary {
    background-color: black;
    border-bottom-color: white;
}
#workprofile {
    background-color: black;
    padding-top: 1.5rem ;
    margin: auto 0 0 auto;
    color: white;
}
.contact {
    margin-left: 3px;
    list-style-type: none;
}
.contact div h3 {
    text-align: center;
}
#container {
    background-color: black;
}
#workprofile2 {
    background-color: black;
    padding-top: 1.5rem;
    color: white;
}
.callout {
    margin: 0 0 0;
}
#contact {
    margin: 0 0 0;
}
#my-info {
    background-color: rgb(44, 44, 49);
}
#workprofile img {
    width: 300px;
    height: 150px;
}
#workprofile2 img {
    height: 300px;
}
#workprofile h5 {
    color: white;
}
#workprofile2 h5 {
    color: white;
}

#workprofile :hover {
    border-color: aqua;
    height: 170px;
}

#workprofile2 :hover {
    border-color: aqua;
    height: 320px;
}